<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="~{fragments/bootstrap :: bootstrapCss()}"></th:block>
    <title>Categorie Index</title>
</head>

<body style="background-color:  #516b51;">
    <div th:replace="~{ fragments/navbar :: navbar }"></div>
    <div class="container">
        <h1>Index delle categorie <span class="fs-4" sec:authorize="hasAuthority('ADMIN')"><a
                    class="btn btn-sm btn-primary" href="categorie/create">Aggiungi
                    una
                    categoria</a></span></h1>
        <h2 th:unless="${categorie.size() > 0}" th:text="|Non ci sono categorie nel menù!|"></h2>
        <table th:if="${categorie.size() > 0}" class="table table-success table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Dettagli</th>
                    <th sec:authorize="hasAuthority('ADMIN')">Modifica</th>
                    <th sec:authorize="hasAuthority('ADMIN')">Elimina</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="categoria : ${categorie}" th:object="${categoria}">
                    <td th:text="*{id}"></td>
                    <td th:text="*{name}"></td>
                    <td><a class="btn btn-success px-3" th:href="|categorie/*{id}|"> + </a></td>
                    <td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-warning"
                            th:href="|categorie/edit/*{id}|">✏</a>
                    </td>
                    <td sec:authorize="hasAuthority('ADMIN')">
                        <th:block th:replace="~{fragments/deleteModal:: deleteModal(*{name}, 'categorie')}">
                        </th:block>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <th:block th:replace="~{fragments/bootstrap :: bootstrapJs()}"></th:block>
</body>

</html>