<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Show</title>
</head>

<body>
    <h1>Show dei cibi</h1>
    <h2 th:if="${cibo == null}" th:text="|Il cibo con id ${id} non è presente nel menù!|"></h2>
    <table th:if="${cibo != null}">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Descrizione</th>
                <th>Prezzo</th>
            </tr>
        </thead>
        <tbody>
            <tr th:object="${cibo}">
                <td th:text="*{id}"></td>
                <td th:text="*{name}"></td>
                <td th:text="*{descrizione}"></td>
                <td th:text="*{prezzo}"></td>
            </tr>
        </tbody>
    </table>
</body>

</html>