<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="~{fragments/bootstrap :: bootstrapCss()}"></th:block>
    <title>Ingredienti Index</title>
</head>

<body>
    <div th:replace="~{ fragments/navbar :: navbar }"></div>
    <h1>Index delle ingredienti</h1>
    <h2 th:unless="${ingredienti.size() > 0}" th:text="|Non ci sono ingredienti nel menù!|"></h2>
    <table th:if="${ingredienti.size() > 0}">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Descrizione</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="ingrediente : ${ingredienti}" th:object="${ingrediente}">
                <td th:text="*{id}"></td>
                <td th:text="*{name}"></td>
                <td th:text="*{descrizione}"></td>
            </tr>
        </tbody>
    </table>
    <th:block th:replace="~{fragments/bootstrap :: bootstrapJs()}"></th:block>
</body>

</html>