<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="~{fragments/bootstrap :: bootstrapCss()}"></th:block>
    <title>Index</title>
</head>

<body>
    <div th:replace="~{ fragments/navbar :: navbar }"></div>
    <h1>Index generale</h1>
    <p>pagina iniziale dell'app di The Alley Pub</p>
    <th:block th:replace="~{fragments/bootstrap :: bootstrapJs()}"></th:block>
</body>

</html>