<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="~{fragments/bootstrap :: bootstrapCss()}"></th:block>
    <title>Bevande </title>
</head>

<body>
    <div th:replace="~{ fragments/navbar :: navbar }"></div>
    <h1>Bevanda</h1>
    <h2 th:unless="${edit}" th:text="|Aggiungi un nuovo bevanda|"></h2>
    <h2 th:if="${edit}" th:text="|Modifica di ${bevanda.name}|"></h2>
    <form id="bevanda-form" method="post" th:action="${edit} ?@{|/bevande/edit/${bevanda.id}|} :@{/bevande/create}"
        th:object="${bevanda}">

        <label for="name">Nome</label>
        <input type="text" name="name" id="name" th:field="*{name}">
        <label for="descrizione">Descrizione</label>
        <textarea name="descrizione" id="descrizione" th:field="*{descrizione}"></textarea>
        <label for="prezzo">Prezzo</label>
        <input type="number" name="prezzo" id="prezzo" th:field="*{prezzo}">
        <label for="dimensione">Dimensione</label>
        <input type="number" id="number" th:field="*{name}">

        <div id="categorie-checkbox">
            <h5>Seleziona le categorie</h5>
            <div th:each="categoria : ${categorie}">
                <label for="|categoria-${.id}|" th:text="${categoria.name}"></label>
                <input type="checkbox" id="|categoria-${.id}|" th:value="${categoria.id}"
                    th:field="${bevanda.categorie}">
            </div>
        </div>
        <div>
            <input type="submit" value="Submit">
            <a th:href="${edit} ?@{|/bevande/edit/{id}(id=${bevanda.getId()})|} :@{/bevande/create}"> Reset dei
                valori</a>
        </div>
    </form>
    <th:block th:replace="~{fragments/bootstrap :: bootstrapJs()}"></th:block>
</body>

</html>